{{> navbar }}
<div class="container text-center">
    <h1>Inventory</h1>

    <ul>
        {{#each plans}}
        <li>
            <p>
                {{this.id}}. {{this.plan}}

                <button data-planid="{{this.id}}" class="delplan">Delete an Item</button>
            </p>
        </li>
        {{/each}}
    </ul>

    <h2>Add an item</h2>
    <form id="createplan" class="button-size">
        <textarea type="text" name="catagory" placeholder="Category"></textarea>
        <textarea type="text" name="description" placeholder="Description"></textarea>
        <textarea type="text" name="make" placeholder="Make"></textarea>
        <textarea type="text" name="type" placeholder="Type"></textarea>
        <textarea type="text" name="year" placeholder="Year"></textarea>
        <textarea type="text" name="invComm" placeholder="Inventory Comments"></textarea>
        <button type="submit">Add Item!</button>
    </form>

    {{!-- <h2>Update an item</h2>
    <form id="updateinventory" class="button-size">
        <select name="id">
            {{#each plans}}
            <option value="{{this.id}}">{{this.plan}}</option>
            {{/each}}
        </select>
        <textarea type="text" name="item" placeholder="item"></textarea>
        <textarea type="text" name="item" placeholder="item"></textarea>
        <textarea type="text" name="item" placeholder="item"></textarea>
        <button type="submit">Update Item</button>
    </form> --}}

</div>

{{> footer }}


<script type="text/javascript">
    $(".delitem").on("click", function (event) {
        // Get the ID from the button.
        // This is shorthand for $(this).attr("data-planid")
        var id = $(this).data("itemid");

        // Send the DELETE request.
        $.ajax("/inventory/" + id, {
            type: "DELETE"
        }).then(
            function () {
                console.log("deleted id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $("#createitem").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        // [name=plan] will find an element with a "name" attribute equal to the string "plan"
        var newItem = {
            plan: $("#createitem [name=item]").val().trim()
        };

        // Send the POST request.
        $.ajax("/inventory", {
            type: "POST",
            data: newItem
        }).then(
            function () {
                console.log("added a new item");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $("#updateitem").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        // Get the ID by finding an element with a "name" attribute equal to the string "id"
        var id = $("[name=id]").val().trim();

        var updatedinventory = {
            plan: $("#updateitem [name=item]").val().trim()
        };

        // Send the PUT request.
        $.ajax("/inventory/" + id, {
            type: "PUT",
            data: updatedinventory
        }).then(
            function () {
                console.log("updated id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });
</script>